<h1 class="mt-4">Solicitações ao Banco do Brasil</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Realizar solicitação</li>
</ol>
<div class  = "container">
    <form>
        <div class = "row">
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>DATA DA SOLICITAÇÃO:</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>
        
        <div class = "row">
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>TIPO DE DOCOMENTO</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>
    </form>
    
    
</div>