<h1 class="mt-4">Solicitações ao Banco do Brasil</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ solicitacao.id ? 'Alterar Solicitação' : 'Realizar solicitação' }}</li>
</ol>
<div class  = "container">
    <form #solicitacaoForm="ngForm" (ngSubmit)="onSubmit()">
        <div class = "row">
            <div class = "col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Solicitação salva/atualizada com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>

            </div>  
        </div>
        <div class = "row" *ngIf="solicitacao.id">
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>Identificação da solicitação:</label>
                    <input type="text" [ngModel]="solicitacao.id" name="id"  class="form-control" 
                    disabled ="true"/>
                </div>
            </div>  
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>Data solicitação:</label>
                    <input type="text" class="form-control"
                        [ngModel]="solicitacao.dataSolicitacao" name="dataSolicitacao" disabled ="true"/>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>Id da operacao: *</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="solicitacao.idOperacao" name="idOperacao"/>
                </div>
            </div>  
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>Tipo documento solicitado: *</label>
                    <input type="text" class="form-control" 
                        [(ngModel)]="solicitacao.tipoDocumento" name="tipoDocumento"/>
                </div>
            </div> 
        </div>   
        <div class = "row">
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>Origem_solicitacao: *</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="solicitacao.origemSolicitacao" name="origemSolicitacao"/>
                </div>
            </div> 
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>cod_usuario_solicitante: *</label>
                    <input type="text" class="form-control"
                        [(ngModel)]="solicitacao.codUsuarioSolicitante" name="codUsuarioSolicitante"/>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class = "col-md-3">
                    <button type="submit" class="btn btn-success" *ngIf="!solicitacao.id" >
                        <i class="fa fa-save"></i> Salvar
                    </button>
                    <button type="submit" class="btn btn-primary" *ngIf="solicitacao.id">
                        <i class="fa fa-sync-alt"></i> Alterar
                    </button>
                    <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
                        <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                    </button>
            </div>
        </div>
    </form>
    
    
</div>