<h1 class="mt-4">Solicitações ao Banco do Brasil</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Realizar solicitação</li>
</ol>
<div class  = "container">
    <form #solicitacaoForm="ngForm" (ngSubmit)="onSubmit()">
        <div class = "row">
            <div class = "col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Solicitação Salva/Atualizada com Sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>

            </div>  
        </div>
        <div class = "row" *ngIf="solicitacao.id">
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>id:</label>
                    <input type="text" [ngModel]="solicitacao.id" name="id"  class="form-control" 
                    disabled ="true"/>
                </div>
            </div>  
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>Data Solicitação:</label>
                    <input type="text" class="form-control"
                        [ngModel]="solicitacao.dataSolicitacao" name="dataSolicitacao" disabled ="true"/>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>Id_operacao: *</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="solicitacao.idOperacao" name="idOperacao"/>
                </div>
            </div>  
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>tipo_documento: *</label>
                    <input type="text" class="form-control" 
                        [(ngModel)]="solicitacao.tipoDocumento" name="tipoDocumento"/>
                </div>
            </div> 
        </div>   
        <div class = "row">
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>Origem_solicitacao: *</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="solicitacao.origemSolicitacao" name="origemSolicitacao"/>
                </div>
            </div> 
            <div class = "col-md-6">
                <div class = "form-group">
                    <label>cod_usuario_solicitante: *</label>
                    <input type="text" class="form-control"
                        [(ngModel)]="solicitacao.codUsuarioSolicitante" name="codUsuarioSolicitante"/>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class = "col-md-2">
                    <button type="submit" class="btn btn-success" >
                        <i class="fa fa-save"></i>Salvar
                    </button>
            </div>
        </div>
    </form>
    
    
</div>