<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-primary bg-light" bg-light id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                
                <a class="nav-link" routerLink="/home"
                    ><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Home</a
                >
                <div class="sb-sidenav-menu-heading">Solicitações / Instituições</div>
                <a class="nav-link collapsed" routerLink="/solicitacoes-lista"
                data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Solicitações BB
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                ></a>
                <a class="nav-link" hrf="index" 
                data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Outras Solicitações
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                ></a>
            </div>
        </div>
    </nav>
</div>