<h1 class="mt-4">Bem Vindo</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">1. Este sistema tem por finalidade, fornecer aos usuários uma interface para realização de solicitação de docu-mentos às instituições financeiras cedentes relacionados aos créditos adquiridos pe-los clientes.</li>
</ol>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">2. À principio, o sistema atenderá especifica-mente às gerencias: 
        <br> a) GEJUR; 
        <br> b) GEPAT; 
        <br> c) GEROM; 
        <br> d) GIMAC.</li>
</ol>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">3. Em primeiro momento, as solicitações se restringirão aos documentos oriundos da instituição Banco do Brasil, especificamente para os documentos dos tipos: 
        <br> a) Documento de Cessão / DCC; 
        <br> b) Instrumento de Credito / Cópia do contrato; 
        <br> c) Extrato / SLIP.</li>
</ol>